/* colors
#495c6e
#658791
#F2EBD5
#F2A62A
#F27649
#B4766A 
https://color.adobe.com/08Aug2020-Slice-03-color-theme-14648904
*/

body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(249, 250, 252);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  color: white;
}

#navLogin {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  border: solid 1px white;
  padding: 0.25rem;
}
#navLogin > * {
  margin: 0 0.5rem;
}

#search {
  border: solid 1px white;
  padding: 0.25rem;
}

#search > form {
  display: inline;
}
#search > form > input {
  height: 1rem;
  width: 6rem;
  border: 0;
  padding: 0;
  background-color: #495c6e;
  color: white;
  margin-top: -5px;
  margin-bottom: 0;
}

#search > img {
  margin-bottom: -3px;
  margin-right: 5px;
}

nav > a > img {
  margin-bottom: -3px;
}

input:focus {
  outline: none;
}

#spacer {
  height: 20px;
}

#styleDropdown {
  position: relative;
  display: inline-block;
}

#styleDropdown:hover #styleContent {
  display: block;
}

#styleContent a:hover {
  background-color: #f2a62a;
}

#styleContent {
  display: none;
  position: absolute;
  background-color: #495c6e;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 0.5rem;
}

#styleContent * {
  display: block;
  padding: 0.5rem;
}

.topnav {
  top: 0;
  width: 100%;
  height: 45px;
  background-color: #495c6e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.pagenav {
  top: 0;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

nav > * {
  margin: 1rem 0;
}

.divider {
  border-bottom: solid 1px white;
  margin-bottom: 1rem;
}

.horDivider {
  margin: 0;
  border-right: solid 2px white;
}
.productCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 40px;
}
.productCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  width: 250px;
  height: 270px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 30px;
  margin: 30px;
  color: rgb(73, 92, 110);
}
.prodName {
  /* background-color: rgb(248, 192, 69); */
  padding: 4px;
  margin: 0;
  color: #495c6e;
}
.productImg {
  width: auto;
  height: 120px;
  margin: 10px;
}
.detailBox {
  display: flex;
  margin: 30px 100px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  padding: 50px 50px 70px 50px;
  color: rgb(73, 92, 110);
}
.detailPhoto {
  height: 400px;
  margin: 30px;
}
.prodInfo {
  display: flex;
  width: 50%;
  flex-direction: column;
}
#editBt, #submitbt {
  background-image: linear-gradient(
    to bottom right,
    rgb(248, 192, 69),
    rgb(248, 210, 86),
    rgb(248, 232, 86)
  );  
  padding: 12px;
  width: 70%;
  color: #495c6e;
}
.productCard > a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: inherit;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
}
#prodform {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  margin: 20px;
}
input {
  height: 20px;
  margin: 7px 0;
}
select {
  margin: 5px;
  height: 30px;
  width: 95%;
}
#submitbt {
  width: 100%;
  align-self: center;
  margin: 15px;
}

#prodListWrapper {
  display: flex;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
}
table {
  border: 2px solid rgb(73, 92, 110);
  overflow: auto;
}
th {
  background-color: rgb(73, 92, 110);
  color: white;
  padding: 10px 5px;
}
tr {
  padding: 5px;
  border: 1px solid rgb(73, 92, 110);
}
td {
  padding: 10px;
}
tr:nth-child(even) {
  background-color: rgba(172, 207, 240, 0.589);
}

#editBt {
  width: 70px;
  height: 35px;
}
#removeBt, #userRmvBt {
  width: 70px;
  height: 35px;
  background-color: tomato;
}
#editableRow {
  background-color: lightgoldenrodyellow;
}
#updateForm {
  width: 70%;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  margin: 20px;
}
.editInput {
  width: 100%;
}
#signature {
  text-align: center;
  color: white;
  margin-top: 75px;
  margin-bottom: -10px;
  padding-top: 20px;
}
hr {
  margin-top: 150px;
  color: rgb(73, 92, 110);
}
#profile {
  margin: 1rem;
}

#profile > ul > li {
  margin: 1rem;
}
#adminNav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(73, 92, 110);
}

.selected {
  background-color: rgb(224, 223, 221);
  color: rgb(73, 92, 110);
  padding: 11px;
  margin: 0;
}

#adminHello {
  background-image: url('https://www.3sisterswinery.com/assets/client/Image/winestorage.jpg') ;
  width: 100%vw;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
#orderListWrapper {
  display: flex;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
}
#userListWrapper {
  margin-left: 30%;
  margin-right: 30%;
}
#userRmvBt {
  width: 70px;
}
#usersTable {
  align-self: center;
}

.topNav {
  display: none;
}

div.splashpic {
  background-image: url('/img/beer_splash.jpg');
  background-color: blanchedalmond;
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.cartList {
  width: 800px;
  margin: auto;
}

.itemList {
  width: 600px;
  margin: auto;
}

.cartPhoto {
  height: 70px;
  margin: 10px;
}

.linePhoto {
  height: 40px;
  margin: 2px;
}

.cartItem {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #aaaaaa;
}

.lineItem {
  height: 55px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #aaaaaa;
}

.lineItem>*:first-child {
  width: 60px;
  display: flex;
  justify-content: center;
}

.lineItem>*:nth-child(2) {
  width: 300px;
  display: flex;
  justify-content: left;
}

.lineItem>*:nth-child(3) {
  width: 100px;
  display: flex;
  justify-content: center;
}

.lineItem>*:nth-child(4) {
  width: 60px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.lineItem>*:nth-child(5) {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
} 

.cartItemFooter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: solid 1px #aaaaaa;
  margin-right: 20px;
}

.bold {
  font-weight: bold;
}

li {
  list-style: none;
}

.cartItem>*:first-child {
  width: 80px;
  display: flex;
  justify-content: center;
}

.cartItem>*:nth-child(2) {
  width: 300px;
  display: flex;
  justify-content: left;
}

.cartItem>*:nth-child(3) {
  width: 180px;
  display: flex;
  justify-content: center;
}

.cartItem>*:nth-child(4) {
  width: 200px;
  display: flex;
  justify-content: center;
}

.cartItem>*:nth-child(4)>input {
  height: 20px;
  width: 40px;
}

.cartItem>*:nth-child(5) {
  width: 120px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
} 

.orderlist>*:last-child {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.orderlist>*:last-child>* {
  margin-left: 0.5rem;
}

div.splashContainer {
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
  padding: 3rem;
  background-color: white;
  border: 10px solid rgb(243, 158, 63);
}

div.h5 {
  margin-top: 2rem;
}

.splashProductsURL {
  width: 250px;
}

.splashButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

#allProdsBanner {
  width: 100%vw;
  background-image: url('/img/prodbanner.png');
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  margin-bottom: 30px;
}
#categoriesBanner {
  width: 100%vw;
  background-image: url('https://images.favordelivery.com/retailers/18090/1551389263733.jpg/w-3000_q-50');
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;

}
#cartBanner {
  width: 100%vw;
  background-image: url("https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F905884450%2F0x0.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
#allProdsH, #cartH, #adminH, #categoriesH {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 20px;
  font-weight: bold;
}

#orderUpdateForm {
  display: flex;
  border: 1px black solid;
  width: 250px;
  justify-content: space-evenly;
}
#toast, #prodToast, #formToast, #usersToast {
  background-color: greenyellow;
  text-align: center;
  color: rgb(73, 92, 110);
}

.priceCart {
  display: flex;
  justify-content: center;
}

.cartWhiteCard {
  height: 70%;
  width: 10%;
  margin-left: 0.5rem;
}

#cartButtonCard {
  background-image: url('/img/cart_white.jpg');
  background-size: 34px;
  background-position: center;
  border: 0;
  width: 34px;
  height: 29px;
  margin-left: 10px;
}

.cartWhiteDetail {
  height: 50px;
  width: 55px;
  margin-left: 0.5rem;
}

.cartButton {
  background-image: url('/img/cart_white.jpg');
  background-size: 55px;
  background-position: center;
  border: 0;
  width: 55px;
  height: 48px;
}

.quantityCard {
  width: 50px;
  height: 2rem;
}

.cartUpdate {
  width: 80px;
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

#stripeButton {
  display: flex;
  margin: 5% 5% 5% 75%;
}

#authForm {
  width: 25%;
  padding: 20px;
  vertical-align: middle;
  color: white;
  /* display: flex;
  flex-direction: column;
  align-content: center; */
}
.authInput {
  width: 100%;
  height: 26px;
  font-size: 15px;
  margin-bottom: 20px;
}
#authWrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(73, 92, 110);
  padding-top: 100px;
  padding-bottom: 500px;
}
.googleBt{
  background-color: white;
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  text-align: center;
}
#logoImg {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.bottomNav {
  height: 320px;
  background-color: rgb(73, 92, 110);
  border-bottom: rgb(243, 158, 63) solid 30px;
}
#bottomLogo{
  margin-left: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#blurb {
  width: 250px;
  margin-left: 70px;
  color: white;
}
#contact{
  color: white;
  margin-top: -170px;
  width: 350px;
  margin-left: 68%;
  margin-bottom: 35px;
  text-align: right; 
}
#terms {
  margin-top: 30px;
}
#social {
  margin-top: -115px;
  color: rgb(73, 92, 110);
  width: 500px;
  align-self: center;
  margin-left: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  height: 85px;
  border-radius: 30px;
  width: 350px;
  padding-top: 6px;
}

.linkedin {
  width: 20%;
  /* margin-left: 10px; */
}
#iconsLK {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}
.personIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#emptyH {
  /* background-color: rgb(243, 158, 63); */
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQQHI4hTSZxWS0BV0n1DKKO6rr2uilf-GwBtI11OiybIREyai5t&usqp=CAU');
  text-align: center;
  height: 450px;
  width: 60%;
  margin-left: 20%;
  margin-top: 50px;
  border-radius: 30px;
  padding: 30px;
}
#cartH {
  margin-top: 50px;
  background-color: rgb(243, 158, 63);
}
.homeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
#homeH{
  background-color: rgb(243, 158, 63);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 30px;
}